* {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

body {
    margin: auto;
    max-width: 2200px;
}

.cell { 
    width: 25%;
    height: 250px;
    padding: 40px;
    display: inline-block;
    margin: 0;
    float: left;
    overflow: hidden;   
    position: relative;
}


p::selection { display: none; }
a::selection { display: none; }


.cell:hover {
    cursor: pointer;
}


.num {
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 400;
    
    position: absolute;
    top: 20px;
    left: 30px;
   
    margin: 0;
    
    z-index: 3;
}

@media (min-width:1800px) {
    
    .cell {
        width: 25%;
    }
}

@media (max-width:1200px) {
    
    .cell {
        width: 50%;
    }
}

@media (max-width:600px) {
    
    .cell {
        width: 100%;
    }
    
    
}

